.allEdits{
    float: right;
    display: flex;
    list-style: none;
    margin-top: 20px;
text-align: center;
}
.allEdits li {
    margin: 0 30px;
    margin-top: -30px;
    font-size: 20px;
}

.allEdits li {
    text-decoration: none;
    color: #27275A;
}


