<div id="header">
    <div id="logo">
      <img src="assets/toHeader/logo.png" class="picLogo"(click)="goToHome()" >
        <a id="home" ></a>
        <div id="allBtn">
          <button id="Btn" pButton pRipple type="button" label="עריכה/עידכונים" class="p-button-raised"  icon="pi pi-database" (click)="goToEdit()"></button>
          <button id="Btn" pButton pRipple type="button" label="הודעות" class="p-button-raised"  icon="pi pi-comments" (click)="goToMessage()"></button>
          <button id="Btn" pButton pRipple type="button" label="צפיה בנתונים" class="p-button-raised"  icon="pi pi-file-pdf" (click)="goToWatching()"></button>
          </div>
  
       
    </div>  </div>
