/* .header{
    margin-bottom: 70px;
    float: left;
    width: 100%;
    height:30px;
    background-color: rgb(69, 63, 232);
}

.picLogo{
    width: 200px;  
    height: 200px;
    margin-left: 1150px;
} */

#header{
    margin-top: -50px;
}




/* @import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@200&display=swap"); */


body {
    font-family: 'Anek+Odia', sans-serif;
    background-color: #f49f8a09;
}

#logo {
    text-align: center;
    margin-top: 0px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -40px;
}

.menu li {
    margin: 0 40px;
    font-size: 20px;
}

.menu li {
    text-decoration: none;
    color: #27275A;
}

.menu li:hover {
    border-bottom: 2px solid #1c91d0;

}

#home:hover {
    border: 0px;
}
.menu icon{

    margin-top: 10px;  
    margin-right: 70px;
}

#allBtn{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
    
}
#Btn{
    margin-left: 50px; 
}
#Btn:hover{
  opacity: 60%;
}

