<!-- <app-header></app-header> -->
<app-header-manager></app-header-manager>
<!-- <div id="allBtn">
<button id="Btn" pButton pRipple type="button" label="עידכונים" class="p-button-raised"  icon="pi pi-database" (click)="goToEdit()"></button>
<button id="Btn" pButton pRipple type="button" label="הודעות" class="p-button-raised"  icon="pi pi-comments"></button>
<button id="Btn" pButton pRipple type="button" label="צפיה בנתונים" class="p-button-raised"  icon="pi pi-file-pdf" (click)="goToWatching()"></button>
</div> -->
<!-- <select  id="Btn"name="dog-names" id="dog-names" class="p-button-raised" pButton pRipple type="button" >
    <option value="הוספת גננת">הוספת גננת"</option>
  <option value="הוספת גן">הוספת גן</option>
  <option value="הוספת ילד">הוספת ילד</option>
  <option value=" הוספת גננת לגן"> הוספת גננת לגן</option> -->