
#btnInput{
    margin-top: 30px; 
    margin-left: 705px;

}
.ozerBtn{
    font-display: inherit;
    margin-top: 10px;
    text-align: center;


}
#loginParent{
    margin-top: -40px; 
    margin-left: 705px;  

}
#btnUrl{
    margin-top: 10px; 
    margin-left: 690px;  
}
