<app-watching></app-watching>
<!-- <table ><p class="p">פרטי גן</p>
    <tr>
      <th>קוד גן</th>
      <th>כתובת </th>
      <th>טלפון</th>
      <th>משפחה</th>
      <th>אימייל</th>
      <th>שכבה</th>
      <th>סוג</th>   
      <th>סיסמה</th>
      <th>רשת</th>
    </tr>

    <tr >
        <td>{{KG.kindergardenId}}</td>
        <td>{{KG.address}}</td>
        <td>{{KG.phone}}</td>
        <td>{{KG.email}}</td>
        <td>{{KG.layerId}}</td>
        <td>{{KG.kind}}</td>
        <td>{{KG.password}}</td>
        <td>{{KG.corporationtId}}</td>
    </tr>
</table> -->