<app-header></app-header>

 

<div class="txtMessage">שחזור סיסמה</div>

    <div class="field col-12 md:col-4" id="btnPassword">
        <div class="p-inputgroup" style="width: 35%;">
            <span class="p-inputgroup-addon">
                <i class="pi pi-google"></i>
            </span>
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText pTooltip="הכנס כתובת דואר אלקטרוני" size="50%">
                <label for="inputtext">הכנס כתובת דואר אלקטרוני</label>
            </span>
        </div>
    </div>
   <div Id="btn"> <p-button styleClass="p-button-sm" label="אישור" icon="pi pi-send" iconPos="right" (onClick)="sendPassword()" ></p-button></div>
<div class="txtMessage">{{message}}</div>
<p-button *ngIf="btnGoToLoin"    label="כניסה למערכת" styleClass="p-button-link" id="btnLogin" (onClick)="goToLogin()"></p-button>
